[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HDStIM"]
	path = HDStIM
	url = https://github.com/niaid/hdstim
[submodule "dsb"]
	path = dsb
	url = https://github.com/niaid/dsb
