[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HDStIM"]
	path = HDStIM
	url = https://github.com/niaid/hdstim
	shallow = true
	registered = true
